.project-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center; /* Aligne chaque projet au centre */
    flex: 0 0 100%; /* Chaque projet occupe toute la largeur */
}
