.project-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center; 
    flex: 0 0 50%; 
    color: white;
    text-transform: uppercase;
}

.project-link {
    text-decoration: none;
    color: inherit;
}

.project-title {
    font-family: "Chakra Petch", serif;
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 20px;
}

.project-content {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.project-subtitle {
    font-family: "Chakra Petch", serif;
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 16px;
    
}

.project-subtitle:after {
    content: '\00A0\00A0\00A0\007B';
}

.project-txt {
    font-family: "Chakra Petch", serif;
    font-weight: 500;
    font-size: 16px;
}

.project-txt p {
    margin-bottom: 10px;
}

.project-img {
    width: 450px;
    height: 320px;
    object-fit: cover;
    border: 10px solid transparent;
    margin-right: 20px;
    border-radius: 8px;
    background-color: rgba(44, 44, 44, 0.226); 
    backdrop-filter: blur(5px); 
    -webkit-backdrop-filter: blur(5px); 
    box-shadow: 0px 3px 9px 0px black;
}