h1 {
    font-family: Azedo-Bold;
    font-size: 70px;
    margin: 0 0 20px 0;
}

.hero-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1 0 auto;
    position: relative;
}

.hero-txt {
    position: absolute;
    flex-direction: column;
    left: 200px;
    z-index: 1000;
}

.hero-txt strong {
    font-size: 30px;
}