h1 {
    font-family: Azedo-Bold;
    font-size: 70px;
    margin-bottom: 20px;
}

.home-txt {
    opacity: 0;
    position: absolute;
    flex-direction: column;
    left: 200px;
    z-index: 20;
    transform: translateX(-100%); 
    transition: opacity 1s ease, transform 1s ease; 
}

.home-txt.animate {
    opacity: 1; 
    transform: translateX(0); 
}

.home-txt strong {
    font-size: 30px;
}

.home-bio {
    max-width: 600px;
    text-align: justify;
    margin-top: 10px;
    font-size: 18px;
}

.home-container {
    display: flex;
    align-items: center;
    flex: 1 0 auto;
    position: relative;
}

.animated-planet {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 1s ease, transform 1s ease;
    z-index: 10;
    position: absolute;
    right: 180px;
}

.animated-planet.animate {
    opacity: 1;
    transform: translateX(0);
}

/* Tablettes */
@media (max-width: 1024px) {
    .animated-planet {
        left: calc(50% - 20rem);
    }

    h1 {
        font-size: 44px;
    }

    .home-txt {
        background-color: rgba(44, 44, 44, 0.226); 
        backdrop-filter: blur(5px); 
        -webkit-backdrop-filter: blur(5px); 
        box-shadow: 0px 3px 9px 0px black;
        width: 100%;
        padding: 10px 10px 10px 50px;
        left: 0;
        text-align: center;
    }

    .home-bio {
        margin: 10px auto;
        font-size: 18px;
    }
    
}

@media (max-width: 768px) {
    h1, .home-txt strong {
        text-align: left;
    }

    .home-txt {
        left: 0px;
        background-color: rgba(44, 44, 44, 0.226); 
        backdrop-filter: blur(5px); 
        -webkit-backdrop-filter: blur(5px); 
        box-shadow: 0px 3px 9px 0px black;
        width: 100%;
        padding: 10px; 
        text-align: left;
    }

    .home-bio {
        margin-top: 10px;
        font-size: 16px;
    }

    h1 {
        font-size: 26px;
    }

    .home-txt strong {
        font-size: 20px;
    }
    
    .animated-planet {
        left: calc(0% - 15rem);
    }
}