.formations-container {
    display: flex;
    align-items: center;
    flex: 1 0 auto;
    overflow: hidden; 
    flex-direction: row;
    justify-content: center;
}

.rocket-img {
    width: 300px;
    opacity: 0;
    transform: translateY(100%); 
    transition: opacity 1s ease, transform 1s ease; 
}

.left-container {
    opacity: 0;
    transform: translateX(-100%); 
    transition: opacity 1s ease, transform 1s ease; 
}

.right-container {
    opacity: 0; 
    transform: translateX(100%); 
    transition: opacity 1s ease, transform 1s ease;
}

.left-container h2, .right-container h2 {
    text-align: center;
    font-family: Azedo-bold;
    font-size: 34px;
}


/* Animations d'entrée */
.left-container.animate {
    opacity: 1;
    transform: translateX(0); 
}

.rocket-img.animate {
    opacity: 1; 
    transform: translateY(0); 
}

.right-container.animate {
    opacity: 1; 
    transform: translateX(0); 
}

/* Responsive */

/* Petits écrans d'ordinateur */
@media (max-width: 1230px) {
    .left-container h2, .right-container h2 {
        font-size: 28px;
    }
}

@media (max-width: 1024px) {
    .formations-container {
        flex-direction: column;
    }

    .left-container h2, .right-container h2 {
        text-align: left;
        font-size: 34px;
    }

    .rocket-img {
        position: absolute;
        width: 450px;
        right: calc(50% - 225px);
        z-index: -1;
    }
    .left-container {
        margin-bottom: 60px;
    }
}

@media (max-width: 768px) {
    .formations-container {
        flex-direction: column;
    }
    .rocket-img {
        width: 300px;
        position: absolute;
        right: calc(0% - 150px);
        z-index: -1;
    }
    .left-container h2, .right-container h2 {
        text-align: left;
    }
    .left-container {
        margin-bottom: 0;
    }

}