/* Fond de la modale */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    background: rgba(0, 0, 0, 0.7); 
    display: flex;
    justify-content: center; 
    align-items: center; 
    z-index: 1000;
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px);
    opacity: 0; 
    animation: fadeIn 0.3s ease-out forwards; 
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.modal-content {
    background: linear-gradient(135deg, rgba(20, 20, 20, 0.9), rgba(50, 50, 50, 0.9));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 12px;
    width: 80%;
    max-width: 600px;
    max-height: 80%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Montserrat";
    opacity: 0; 
    transform: scale(0.8); 
    animation: slideIn 0.5s ease-out forwards; 
    box-shadow: 0 0 15px 4px rgba(154, 74, 229, 0.4), 
                0 0 30px rgba(154, 74, 229, 0.3); 
}

@keyframes slideIn {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes slideOut {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0.8);
        opacity: 0;
    }
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 35px;
    color: #ffffff;
    transition: all 0.3s ease;
}

.modal-close:hover {
    font-size: 40px;
}

.modal-content img {
    width: 500px;
    border-radius: 12px;
    margin-top: 20px;
}

.modal-subtext {
    text-align: center;
    max-width: 500px;
    font-size: 14px;
    padding: 5px;
}

.modal-content p {
    margin-bottom: 10px;
}

.modal-content a {
    color: inherit;
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
    border-style: none;
    background-color: #9a4ae5;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 10px;
    display: inline-block;
}

.modal-content a:hover {
    background-color: #b46bf8;
    transform: translateY(-2px); 
}

.modal-content::-webkit-scrollbar {
    width: 4px; 
}

.modal-content::-webkit-scrollbar-thumb {
    background-color: rgba(139, 139, 139, 0.3); 
    border-radius: 5px; 
}

.modal-content::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.6); 
    border-radius: 5px; 
    margin: 20px 0;
}
