@font-face {
    font-family: Azedo;
    src: url("../../Assets/Fonts/Azedo-Light.otf");
}

/* Navigation */
nav { 
    max-width: 1440px;
    margin: 10px auto;
    background-color: rgba(44, 44, 44, 0.226); 
    backdrop-filter: blur(5px); 
    -webkit-backdrop-filter: blur(5px); 
    z-index: 1000; 
    border-radius: 8px; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 3px 9px 0px black;
    font-size: 24px;
    font-family: Azedo;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    padding: 20px 15px 28px 15px;
    text-transform: uppercase;
    cursor: pointer; 
    overflow: hidden;
    color: white; 
    transition: color 0.3s ease; 
}

/* Effet Glitch */
.glitch-effect {
    color: #d3d3e8;
    transition: color 0.3s ease, transform 0.3s ease;
    display: inline-block;
    text-decoration: none; /* Pour enlever le soulignement par défaut des liens */
}

.glitch-effect:hover {
    color: #9a4ae5;
    transform: scale(1.05);
}

/* Bouton CV */
button {
    border: none;
    margin: 0 20px 0 0;
    border-radius: 20px;
    background: linear-gradient(90deg, rgba(91,22,156,1) 50%, rgba(154,74,229,1) 100%);
    color: white;
    font-size: 12px;
    padding: 8px 15px;
    cursor: pointer;
}

/* Logo */
.logo {
    width: 150px;
    margin-left: 20px;
    padding: 5px;
}