/* Styles généraux */
nav { 
    max-width: 1440px;
    padding: 10px 20px;
    height: 60px;
    background-color: rgba(44, 44, 44, 0.226); 
    backdrop-filter: blur(5px); 
    -webkit-backdrop-filter: blur(5px); 
    box-shadow: 0px 3px 9px 0px black;
    z-index: 100; 
    border-radius: 8px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-family: Azedo, sans-serif;
    flex: 0 0 auto;
}

/* Logo */
.logo {
    width: 150px;
    padding: 5px;
}

/* Menu items pour grand écran */
.menu-items {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
      
}

.menu-items li {
    
    text-transform: uppercase;
    
}

.menu-items a {
    outline: none;  
    padding: 20px 15px;    
}

.menu-link {
    color: #d3d3e8;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

.menu-link:hover, .menu-items li.active .menu-link {
    color: #9a4ae5;
    transform: scale(1.05);
}

/* Bouton CV */
.btn-anim {
    border: 2px solid #9a4ae5;
    background-color: transparent;
    margin-right: 20px;
    border-radius: 20px;
    color: white;
    padding: 4px 15px 8px 15px;
    font-family: Azedo, sans-serif;
    font-size: 16px;
    transition: all 0.3s ease;
    text-decoration: none;
}

.btn-anim:hover, .btn-anim:focus, .btn-anim.active, .btn-anim:focus-visible, .btn-anim.focused {
    background-color: #9a4ae5;  
}

/* Menu burger */
.menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 1001;
    
}

.menu-toggle span {
    width: 30px;
    height: 3px;
    background-color: #9a4ae5;
    transition: all 0.3s linear;
}

/* Menu overlay */
.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 1000;
    display: none;
    align-items: center;
    justify-content: center;
    font-family: Azedo;
}

.menu-overlay.open {
    display: flex;
}

.close-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 2px solid #9a4ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.close-menu::before,
.close-menu::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #9a4ae5;
    transition: all 0.3s ease;
}

.close-menu::before {
    transform: rotate(45deg);
}

.close-menu::after {
    transform: rotate(-45deg);
}


/* Styles pour tablettes et mobiles */
@media (max-width: 1024px) {
    nav .menu-items {
        display: none;
    }
    .menu-items {
        display: none;
    }

    .menu-toggle {
        display: flex;
        margin-right: 20px;
        margin-left: auto;
    }

    .menu-overlay .menu-items {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu-overlay .menu-items li {
        margin: 15px 0;
    }

    .menu-overlay .menu-link {
        font-size: 24px;
        color: white;
    }

    .btn-anim {
        margin: 15px 0;
    }

    .cv-button {
        display: none;
    }
}

