.projects-outer-container {
    flex: 1 0 auto;
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.projects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.projects-container > * {
    flex: 0 0 calc(50% - 10px); 
    margin-bottom: 20px; 
}

.project-1 {
    opacity: 0; 
    transform: translate(-100%, -100%); 
    transition: opacity 1s ease, transform 1s ease;
}

.project-1.animate {
    opacity: 1; 
    transform: translate(0);
}

.project-2 {
    opacity: 0; 
    transform: translate(100%, -100%); 
    transition: opacity 1s ease, transform 1s ease;
}

.project-2.animate {
    opacity: 1;
    transform: translate(0);
}

.project-3 {
    opacity: 0; 
    transform: translate(-100%, 100%); 
    transition: opacity 1s ease, transform 1s ease;
}

.project-3.animate {
    opacity: 1;
    transform: translate(0); 
}

.project-4 {
    opacity: 0; 
    transform: translate(100%, 100%); 
    transition: opacity 1s ease, transform 1s ease;
}

.project-4.animate {
    opacity: 1;
    transform: translate(0);
}