.custom-cursor {
    position: fixed;
    width: 20px; 
    height: 20px;
    backdrop-filter: blur(5px); 
    -webkit-backdrop-filter: blur(5px); 
    border: 2px solid rgb(206, 206, 206); 
    border-radius: 50%; 
    background: transparent; 
    pointer-events: none; 
    z-index: 9999       9999; 
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease-out, width 0.2s ease, height 0.2s ease;
}

.custom-cursor.clicked {
    transform: translate(-50%, -50%) scale(0.8); 
    transition: transform 0.1s ease-out;
}

@media (pointer: coarse) {
    .custom-cursor {
        display: none;
    }
}