.footer-container {
    height: 40px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
}

.footer-container p {
    font-size: 15px;
    margin-right: 10px;
}

.icons a {
    margin-right: 10px;
    font-size: 24px;
}

i {
    color: white;
    transition: color 0.3s ease;
}

i:hover {
    color: #9a4ae5;
}

@media (max-width: 768px) {
    .footer-container p {
        font-size: 13px;
    }

    .icons a {
        font-size: 20px;
    }
}