.skills-container {
    display: flex;
    align-items: center;
    flex: 1 0 auto;
    flex-direction: row;
    justify-content: center;
}

.skills-container h2 {
    font-family: Azedo-bold;
    font-size: 34px;
    margin-bottom: 30px;
    text-align: center;
}

.soft-skills-container, .technical-skills-container {
    min-height: 500px;
    max-width: 400px;
    margin: 30px;
}

.astronaut-img {
    width: 35%;
    animation: rotate 40s linear infinite;
    opacity: 0; 
    transition: opacity 1s ease;
}

.astronaut-img.animate {
    opacity: 1; 
}


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.technical-skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

/* Animations d'entrée */
@keyframes slideFromTopLeft {
    from {
        transform: translate(-100%, -100%);
        opacity: 0;
    }
    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes slideFromBottomRight {
    from {
        transform: translate(100%, 100%);
        opacity: 0;
    }
    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

.technical-skills-container {
    animation: slideFromTopLeft 1s ease-out forwards;
    opacity: 0;
}

.soft-skills-container {
    animation: slideFromBottomRight 1s ease-out forwards;
    opacity: 0;
}

/* Responsive */

/* Tablettes */
@media (max-width: 1024px) {
    .skills-container {
        flex-direction: column; 
        align-items: center; 
        padding: 40px; 
        justify-content: flex-start;
    }
    .technical-skills-container, .soft-skills-container {
        width: 100%; 
        max-width: none; 
        margin: 20px 0; 
        min-height: auto;
    }

    .technical-skills-container h2, .soft-skills-container h2 {
        font-size: 34px; 
        text-align: center;
    }

    .logo-img {
        height: 90px; 
    }

    .astronaut-img {
        position: absolute;
        width: 80%;
        top: 30%;
    }
}

/* Mobiles */
@media (max-width: 768px) {
    .skills-container {
        padding: 20px; 
        justify-content: center;
    }

    .astronaut-img {
        display: none; 
    }

    .technical-skills-container, .soft-skills-container {
        width: 100%; 
        max-width: none; 
    }

    .technical-skills h2, .soft-skills h2 {
        font-size: 20px; 
        text-align: center;
    }

    .logo-img {
        height: 50px; 
    }
}
